
#left {

  height: 60%;
  width: 50%;
  float: left;
  text-align: center;
  font: 40px/300px Helvetica, Arial, sans-serif;

}

#right {

  height: 60%;
  width: 50%;
  float:right;
  text-align: center;
  font: 40px/300px Helvetica, Arial, sans-serif;

}
#header {

  text-align: center;
  font: 20px/50px Helvetica, Arial, sans-serif;
}

#all {
  width:100%;
  margin:0 auto;
  font: 50px Helvetica, Arial, sans-serif;
  text-align: center;
}

#html {
  touch-action:none;
}

