
#left {

  background: white;

  height: 60%;

  width: 50%;

  float: left;

  text-align: center;

   font: 50px/400px Helvetica, Arial, sans-serif;

}

#right {

  background: white;

  height: 60%;
  width: 50%;

  float:right;

  text-align: center;

  font: 50px/400px Helvetica, Arial, sans-serif;

}

#all {

width:100%;
margin:0 auto;
font: 50px Helvetica, Arial, sans-serif;

}
