
#left {

  background: white;

  height: 60%;

  width: 50%;

  float: left;

  text-align: center;

  font: 30px/300px Helvetica, Arial, sans-serif;

}

#right {

  background: white;

  height: 60%;
  width: 50%;

  float:right;

  text-align: center;

  font: 30px/300px Helvetica, Arial, sans-serif;

}

#all {

width:100%;
text-align: center;
margin:0 auto;

}
