div {
  width: 100%;
}

 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/2 Helvetica, Verdana, sans-serif;
  padding: 0
}

li:first-child {
  font: 400 40px/2 Helvetica, Verdana, sans-serif;
}
 
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;
}
 
