
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
 
li {
  font: 200 30px/1.5 Helvetica, Verdana, sans-serif;
}

li:first-child {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
}
 
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
}
 
