
#left {
  vertical-align: top;
  height: 70%;
  width: 50%;
  float: left;
  text-align: center;
  font: 20px/20px Helvetica, Arial, sans-serif;
  border: 0px solid green;

}

#right {
  vertical-align: top;
  height: 70%;
  width: 50%;
  float:right;
  text-align: center;
  font: 20px/20px Helvetica, Arial, sans-serif;
  border: 0px solid green;

}

img {
  height: auto;
  width: 100%;
}

#header {
  text-align: center;
  font: 20px/30px Helvetica, Arial, sans-serif;
}

#listname {
  text-align: center;
  font: 20px/30px Helvetica, Arial, sans-serif;
}

#done {
  text-align: center;
  font: 20px/30px Helvetica, Arial, sans-serif;
}

#all {
  width:100%;
  margin:0 auto; 
  padding-bottom: 3em; /*same as done*/
}

ol li { 
  text-align: left; 
  list-style-position:inside;
  font: 40px Helvetica, Arial, sans-serif;
}

/* Layout */
html, body, #all { height: 100%; margin: 0; padding: 0; }
body > #all { height: auto; min-height: 100%; }
#done { clear: both; position: relative; z-index: 10; height: 3em; margin-top: -3em;  text-align: center; line-height: 3em; }


html {
  -ms-touch-action : pan-y;
}
