
#left {
  vertical-align: top;
  height: 70%;
  width: 50%;
  float: left;
  text-align: center;
  font: 20px/42px Helvetica, Arial, sans-serif;
  border: 0px solid green;

}

#right {
  vertical-align: top;
  height: 70%;
  width: 50%;
  float:right;
  text-align: center;
  font: 20px/20px Helvetica, Arial, sans-serif;
  border: 0px solid green;

}

img {
  height: auto;
  width: auto;
}

#header {

  text-align: center;
  font: 20px/50px Helvetica, Arial, sans-serif;
}

#listname {

  text-align: center;
  font: 20px/50px Helvetica, Arial, sans-serif;
}

#all {
  width:100%;
  margin:0 auto;
  
}

ol li { 
  text-align: left; 
  list-style-position:inside;
  font: 40px Helvetica, Arial, sans-serif;
}


html {
  -ms-touch-action : pan-y;
}
